.co {
    padding: 0 1.1rem ;

}

.innerCo {
    max-width: 1400px;
    margin-inline: auto;
    font-size: 1.2rem;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid var(--border-light);
    padding: 1.5rem 0;
}

.nav a {

}
