.main {
    min-height: 100vh;

}

.innerCo {
    padding: 100px var(--padding-in);
    max-width: var(--max-width);
    margin-inline: auto;
}

.line {
    border-bottom: 1px solid rgba(240, 248, 255, 0.374);
    padding-bottom: 1rem;
    padding-top: 1rem;
}