.main {
    min-height: 100vh;

}

.innerCo {
    padding: 100px var(--padding-in);
    max-width: var(--max-width);
    margin-inline: auto;
}

.formCo {
    background-color: rgba(240, 248, 255, 0.073);
    border-radius: var(--border-radius);
    margin-top: 2rem;
    padding: 50px 1.2rem;
    max-width: 700px;
}