.co {
    padding: 50px var(--padding-in);

}
.innerCo {
    max-width: 1300px;
    width: 100%;
    margin-inline: auto;
    display: flex;
    column-gap: 2rem;
    justify-content: space-between;
    position: relative;

   /*  background-color: aquamarine; */


}

.windowCo {
    position: sticky;
    top: 200px;
    height: fit-content;
}

.textsCo {
    display: flex;
    flex-direction: column;
    row-gap: 300px;
   /*  background-color: green; */
    padding: 2rem 0;
}

.textCo {
/*     background-color: red; */
    max-width: 50ch;
    display: flex;
    flex-direction: column;
    row-gap: 1.2rem;
}

.textCo p {
    line-height: 1.7rem;
    color: var(--white-text);
}

@media (max-width: 700px) {
    .windowCo {
        display: none;
    }
}